:root {
    --tcolors: #97dffd; /*按钮和标签颜色*/
    --tcolorm: #64609E; /*分类的选中的颜色*/
    --tcolord: #48456D; /*按钮hover 的颜色*/
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

body {
    font-family: Arial, "STHeiti", Helvetica, sans-serif;
    background: #efefef;
    font-size: 14px;
    color: #444 !important;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

legend {
    display: none
}

ol, ul {
    list-style: none
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    /*overflow-x: hidden;*/
    /*-webkit-overflow-x: hidden;*/
}

/*时间和标题*/
.s-round-date {
    position: absolute;
    top: -20px;
    left: -35px;
    height: 60px;
    width: 70px;
    padding-top: 5px;
    border-radius: 100px;
    color: #fff;
    background: var(--tcolors);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.s-round-date span {
    text-align: center;
    display: block;
}

.s-round-date .day {
    font-size: 30px;
    font-weight: 700;
}

/*相同的标题副标题*/
.tcommonBox {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    background: #fff;
    padding: 24px;
    border-radius: 5px;
    margin-bottom: 40px;
    font-size: 14px;
}

.tcommonBox header {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.tcommonBox header h1 {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    transition: all 0.2s linear;
    color: #444;
    cursor: pointer;
}


.tcommonBox header h1:hover{
    transform: scale(1.1);
}

.tcommonBox header h2 {
    margin: 10px 0;
    line-height: 24px;
    text-align: center;
    color: #555;
    font-size: 12px;
}

.tcommonBox .timeBox {
    color: #00A7E0;
    margin-right: 16px;
}

.tcommonBox section p {
    line-height: 24px;
    margin: 10px 0;
}

.tcommonBox header h2 .el-rate, .rateBox {
    display: inline-block;
}

.tcommonBox header h2 .el-rate i {
    font-size: 16px;
}

.s-item .article-content {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/*标题和按钮*/
.s-item .article-content p {
    line-height: 24px;
}

.s-item .viewdetail {
    margin: 20px 0 10px;
    line-height: 24px;
    text-align: center;
}

.s-item .viewdetail a {
    background: #97dffd;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.s-item .viewdetail a:hover {
    background: #00A7E0;
    opacity: 0.6;
}

